.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons--new_group
          = link_to new_group_path do
            = icon('fas','edit')
        %li.top-items__icons--edit_user
          = link_to edit_user_path(current_user) do
            = icon('fas','cog')
  .groups
    .group-link
      - current_user.groups.each do |group|
        .group
          = link_to '#' do
            %p.group-name
              = group.name
            %p.group__latest--message
              latest_message
      
     